.container {
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s cubic-bezier(0, 0, 0.2, 1), 
    width .25s cubic-bezier(0.4, 0, 0.2, 1),
    height .25s cubic-bezier(0.4, 0, 0.2, 1);
  bottom: calc(100% + 10px);
  right: 0;
  position: absolute;
  overflow-x: hidden;
  border-radius: 2px;
  background: rgba(28,28,28,.9);

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  &.main {
    width: 397px;
    // height: 177px;
    height: 136px;
  }
  
  &.quality {
    width: 276px;
    height: 285px;
  }

  &.speed {
    width: 276px;
    height: 366px;
  }

  &.subtitles {
    width: 311px;
    height: 285px;
  }

  &.other_speed {
    width: 251px;
    height: 153px;
  }

  .otherSpeed {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    font-family: inherit;
    padding: 0 10px;
    text-decoration: underline;
    height: 100%;
    cursor: pointer;
    font-size: inherit;
  }

  .otherSpeedContainer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;

    .otherSpeedRange {
      -webkit-appearance: none;
      cursor: pointer;
      padding: 8px 0;
      background: transparent;
      width: 150px;

      &::range-thumb {
        -webkit-appearance: none;
        background-color: #ffffff;
        width: 20px;
        height: 20px;
        margin-top: -7.5px;
        border-radius: 50px;
      }

      &::range-track {
        background: linear-gradient(to right, #fff var(--progress), rgba(255,255,255,.2) var(--progress));
        height: 5px;
      }
    }

    .progress {
      font-size: 16.5px;
    }
  }
}