@keyframes iconAnimation__pause {
  0% {
    d: path("M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z");
  }

  8% {
    d: path("M 12,26 16.338999171643152,25.45760132537096 16.338999171643152,10.542398674629043 12,10 z M 20.661000828356848,25.45760132537096 25,24.915202650741914 25,11.084797349258086 20.661000828356848,10.542398674629043 z");
  }

  17% {
    d: path("M 12,26 16.728577551374656,24.83427591780055 16.728577551374656,11.165724082199452 12,10 z M 20.271422448625344,24.83427591780055 25,23.668551835601097 25,12.331448164398903 20.271422448625344,11.165724082199452 z");
  }

  25% {
    d: path("M 12,26 17.0239263125,24.3617179 17.0239263125,11.6382821 12,10 z M 19.9760736875,24.3617179 25,22.7234358 25,13.2765642 19.9760736875,11.6382821 z");
  }

  33% {
    d: path("M 12,26 17.263404097092856,23.978553444651432 17.263404097092856,12.021446555348566 12,10 z M 19.736595902907144,23.978553444651432 25,21.957106889302867 25,14.042893110697134 19.736595902907144,12.021446555348566 z");
  }

  42% {
    d: path("M 12,26 17.398992293685573,23.76161233010308 17.398992293685573,12.23838766989692 12,10 z M 19.601007706314427,23.76161233010308 25,21.52322466020616 25,14.476775339793841 19.601007706314427,12.23838766989692 z");
  }

  50% {
    d: path("M 12,26 17.55076998667956,23.51876802131271 17.55076998667956,12.48123197868729 12,10 z M 19.44923001332044,23.51876802131271 25,21.03753604262542 25,14.962463957374581 19.44923001332044,12.48123197868729 z");
  }

  58% {
    d: path("M 12,26 17.709098683214087,23.26544210685746 17.709098683214087,12.734557893142542 12,10 z M 19.290901316785913,23.26544210685746 25,20.530884213714916 25,15.469115786285084 19.290901316785913,12.734557893142542 z");
  }

  67% {
    d: path("M 12,26 17.815917802398967,23.094531516161652 17.815917802398967,12.905468483838348 12,10 z M 19.184082197601033,23.094531516161652 25,20.189063032323304 25,15.810936967676696 19.184082197601033,12.905468483838348 z");
  }

  75% {
    d: path("M 12,26 17.973262502697114,22.84277999568462 17.973262502697114,13.15722000431538 12,10 z M 19.026737497302886,22.84277999568462 25,19.68555999136924 25,16.31444000863076 19.026737497302886,13.15722000431538 z");
  }

  83% {
    d: path("M 12,26 18.2031391875,22.4749773 18.2031391875,13.525022700000001 12,10 z M 18.7968608125,22.4749773 25,18.949954599999998 25,17.050045400000002 18.7968608125,13.525022700000001 z");
  }

  92% {
    d: path("M 12,26 18.356888134467273,22.228978984852365 18.356888134467273,13.771021015147635 12,10 z M 18.643111865532727,22.228978984852365 25,18.45795796970473 25,17.54204203029527 18.643111865532727,13.771021015147635 z");
  }

  100% {
    d: path("M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z");
  }
}

@keyframes iconAnimation__play {
  0% {
    d: path("M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z");
  }

  8% {
    d: path("M 12,26 18.356888134467273,22.228978984852365 18.356888134467273,13.771021015147635 12,10 z M 18.643111865532727,22.228978984852365 25,18.45795796970473 25,17.54204203029527 18.643111865532727,13.771021015147635 z");
  }

  17% {
    d: path("M 12,26 18.2031391875,22.4749773 18.2031391875,13.525022700000001 12,10 z M 18.7968608125,22.4749773 25,18.949954599999998 25,17.050045400000002 18.7968608125,13.525022700000001 z");
  }

  25% {
    d: path("M 12,26 17.973262502697114,22.84277999568462 17.973262502697114,13.15722000431538 12,10 z M 19.026737497302886,22.84277999568462 25,19.68555999136924 25,16.31444000863076 19.026737497302886,13.15722000431538 z");
  }

  33% {
    d: path("M 12,26 17.815917802398967,23.094531516161652 17.815917802398967,12.905468483838348 12,10 z M 19.184082197601033,23.094531516161652 25,20.189063032323304 25,15.810936967676696 19.184082197601033,12.905468483838348 z");
  }

  42% {
    d: path("M 12,26 17.709098683214087,23.26544210685746 17.709098683214087,12.734557893142542 12,10 z M 19.290901316785913,23.26544210685746 25,20.530884213714916 25,15.469115786285084 19.290901316785913,12.734557893142542 z");
  }

  50% {
    d: path("M 12,26 17.55076998667956,23.51876802131271 17.55076998667956,12.48123197868729 12,10 z M 19.44923001332044,23.51876802131271 25,21.03753604262542 25,14.962463957374581 19.44923001332044,12.48123197868729 z");
  }

  58% {
    d: path("M 12,26 17.398992293685573,23.76161233010308 17.398992293685573,12.23838766989692 12,10 z M 19.601007706314427,23.76161233010308 25,21.52322466020616 25,14.476775339793841 19.601007706314427,12.23838766989692 z");
  }

  67% {
    d: path("M 12,26 17.263404097092856,23.978553444651432 17.263404097092856,12.021446555348566 12,10 z M 19.736595902907144,23.978553444651432 25,21.957106889302867 25,14.042893110697134 19.736595902907144,12.021446555348566 z");
  }

  75% {
    d: path("M 12,26 17.0239263125,24.3617179 17.0239263125,11.6382821 12,10 z M 19.9760736875,24.3617179 25,22.7234358 25,13.2765642 19.9760736875,11.6382821 z");
  }

  83% {
    d: path("M 12,26 16.728577551374656,24.83427591780055 16.728577551374656,11.165724082199452 12,10 z M 20.271422448625344,24.83427591780055 25,23.668551835601097 25,12.331448164398903 20.271422448625344,11.165724082199452 z");
  }

  92% {
    d: path("M 12,26 16.338999171643152,25.45760132537096 16.338999171643152,10.542398674629043 12,10 z M 20.661000828356848,25.45760132537096 25,24.915202650741914 25,11.084797349258086 20.661000828356848,10.542398674629043 z");
  }

  100% {
    d: path("M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z");
  }
}

@keyframes iconAnimation__volume1to2 {
  0% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 Z");
  }

  6% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,24.789104204799997 C21.900698354688,23.869199725824 24.0191042048,21.180602833664 24.0191042048,18 C24.0191042048,14.819397166336 21.900698354688,12.130800274176 19,11.270322669056 L19,11.29 Z");
  }

  12% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.106274046610597 C22.078313466101935,24.187955416843653 24.336274046610598,21.356632095868886 24.336274046610598,18 C24.336274046610598,14.643367904131118 22.078313466101935,11.812044583156348 19,10.943637731991082 L19,11.29 Z");
  }

  18% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.33185549712889 C22.20463907839218,24.414664774614533 24.56185549712889,21.481829800906535 24.56185549712889,18 C24.56185549712889,14.518170199093467 22.20463907839218,11.585335225385467 19,10.711288837957245 L19,11.29 Z");
  }

  24% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.533252389313787 C22.31742133801572,24.617068651260357 24.763252389313788,21.593605076069153 24.763252389313788,18 C24.763252389313788,14.406394923930849 22.31742133801572,11.382931348739644 19,10.5038500390068 L19,11.29 Z");
  }

  29% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.696091673599998 C22.408611337216,24.780722131968 24.9260916736,21.683980878848 24.9260916736,18 C24.9260916736,14.316019121152001 22.408611337216,11.219277868032 19,10.336125576192 L19,11.29 Z");
  }

  35% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.839274393609095 C22.488793660421095,24.924620765577142 25.069274393609096,21.76344728845305 25.069274393609096,18 C25.069274393609096,14.236552711546953 22.488793660421095,11.075379234422858 19,10.18864737458263 L19,11.29 Z");
  }

  41% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.936640394119717 C22.543318620707044,25.022473596090318 25.166640394119717,21.817485418736446 25.166640394119717,18 C25.166640394119717,14.182514581263558 22.543318620707044,10.977526403909684 19,10.088360394056691 L19,11.29 Z");
  }

  47% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.036916764021743 C22.59947338785218,25.123251347841855 25.266916764021744,21.87313880403207 25.266916764021744,18 C25.266916764021744,14.126861195967932 22.59947338785218,10.876748652158147 19,9.985075733057602 L19,11.29 Z");
  }

  53% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.11896704381828 C22.645421544538237,25.20571187903737 25.34896704381828,21.918676709319147 25.34896704381828,18 C25.34896704381828,14.081323290680857 22.645421544538237,10.79428812096263 19,9.900563944867173 L19,11.29 Z");
  }

  59% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.191317901709578 C22.685938024957366,25.278424491218125 25.42131790170958,21.95883143544882 25.42131790170958,18 C25.42131790170958,14.041168564551185 22.685938024957366,10.721575508781875 19,9.826042561239134 L19,11.29 Z");
  }

  65% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.260185009446218 C22.724503605289883,25.34763593449345 25.49018500944622,21.997052680242653 25.49018500944622,18 C25.49018500944622,14.00294731975735 22.724503605289883,10.652364065506552 19,9.755109440270395 L19,11.29 Z");
  }

  71% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.315929462328835 C22.75572049890415,25.40365910964048 25.545929462328836,22.027990851592506 25.545929462328836,18 C25.545929462328836,13.972009148407496 22.75572049890415,10.596340890359519 19,9.697692653801298 L19,11.29 Z");
  }

  76% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.3899044992 C22.797146519552,25.478004021695998 25.6199044992,22.069046997056002 25.6199044992,18 C25.6199044992,13.930953002944001 22.797146519552,10.521995978304 19,9.621498365824 L19,11.29 Z");
  }

  82% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.5053420672 C22.861791557632003,25.594018777536 25.7353420672,22.133114847296 25.7353420672,18 C25.7353420672,13.866885152704 22.861791557632003,10.405981222464 19,9.502597670784 L19,11.29 Z");
  }

  88% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.597895426207906 C22.91362143867643,25.687034903338947 25.827895426207906,22.18448196154539 25.827895426207906,18 C25.827895426207906,13.815518038454613 22.91362143867643,10.312965096661053 19,9.407267711005856 L19,11.29 Z");
  }

  94% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.70908931095611 C22.975890014135423,25.79878475751089 25.93908931095611,22.24619456758064 25.93908931095611,18 C25.93908931095611,13.753805432419359 22.975890014135423,10.20121524248911 19,9.292738009715206 L19,11.29 Z");
  }

  100% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.77 C23.01,25.86 26,22.28 26,18 C26,13.72 23.01,10.14 19,9.23 L19,11.29 Z");
  }
}

@keyframes iconAnimation__volume2to1 {
  0% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.77 C23.01,25.86 26,22.28 26,18 C26,13.72 23.01,10.14 19,9.23 L19,11.29 Z");
  }

  6% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.70908931095611 C22.975890014135423,25.79878475751089 25.93908931095611,22.24619456758064 25.93908931095611,18 C25.93908931095611,13.753805432419359 22.975890014135423,10.20121524248911 19,9.292738009715206 L19,11.29 Z");
  }

  12% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.597895426207906 C22.91362143867643,25.687034903338947 25.827895426207906,22.18448196154539 25.827895426207906,18 C25.827895426207906,13.815518038454613 22.91362143867643,10.312965096661053 19,9.407267711005856 L19,11.29 Z");
  }

  18% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.5053420672 C22.861791557632003,25.594018777536 25.7353420672,22.133114847296 25.7353420672,18 C25.7353420672,13.866885152704 22.861791557632003,10.405981222464 19,9.502597670784 L19,11.29 Z");
  }

  24% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.3899044992 C22.797146519552,25.478004021695998 25.6199044992,22.069046997056002 25.6199044992,18 C25.6199044992,13.930953002944001 22.797146519552,10.521995978304 19,9.621498365824 L19,11.29 Z");
  }

  29% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.315929462328835 C22.75572049890415,25.40365910964048 25.545929462328836,22.027990851592506 25.545929462328836,18 C25.545929462328836,13.972009148407496 22.75572049890415,10.596340890359519 19,9.697692653801298 L19,11.29 Z");
  }

  35% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.260185009446218 C22.724503605289883,25.34763593449345 25.49018500944622,21.997052680242653 25.49018500944622,18 C25.49018500944622,14.00294731975735 22.724503605289883,10.652364065506552 19,9.755109440270395 L19,11.29 Z");
  }

  41% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.191317901709578 C22.685938024957366,25.278424491218125 25.42131790170958,21.95883143544882 25.42131790170958,18 C25.42131790170958,14.041168564551185 22.685938024957366,10.721575508781875 19,9.826042561239134 L19,11.29 Z");
  }

  47% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.11896704381828 C22.645421544538237,25.20571187903737 25.34896704381828,21.918676709319147 25.34896704381828,18 C25.34896704381828,14.081323290680857 22.645421544538237,10.79428812096263 19,9.900563944867173 L19,11.29 Z");
  }

  53% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8ф,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.036916764021743 C22.59947338785218,25.123251347841855 25.266916764021744,21.87313880403207 25.266916764021744,18 C25.266916764021744,14.126861195967932 22.59947338785218,10.876748652158147 19,9.985075733057602 L19,11.29 Z");
  }

  59% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.936640394119717 C22.543318620707044,25.022473596090318 25.166640394119717,21.817485418736446 25.166640394119717,18 C25.166640394119717,14.182514581263558 22.543318620707044,10.977526403909684 19,10.088360394056691 L19,11.29 Z");
  }

  65% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.839274393609095 C22.488793660421095,24.924620765577142 25.069274393609096,21.76344728845305 25.069274393609096,18 C25.069274393609096,14.236552711546953 22.488793660421095,11.075379234422858 19,10.18864737458263 L19,11.29 Z");
  }

  71% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.696091673599998 C22.408611337216,24.780722131968 24.9260916736,21.683980878848 24.9260916736,18 C24.9260916736,14.316019121152001 22.408611337216,11.219277868032 19,10.336125576192 L19,11.29 Z");
  }

  76% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.533252389313787 C22.31742133801572,24.617068651260357 24.763252389313788,21.593605076069153 24.763252389313788,18 C24.763252389313788,14.406394923930849 22.31742133801572,11.382931348739644 19,10.5038500390068 L19,11.29 Z");
  }

  82% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.33185549712889 C22.20463907839218,24.414664774614533 24.56185549712889,21.481829800906535 24.56185549712889,18 C24.56185549712889,14.518170199093467 22.20463907839218,11.585335225385467 19,10.711288837957245 L19,11.29 Z");
  }

  88% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.106274046610597 C22.078313466101935,24.187955416843653 24.336274046610598,21.356632095868886 24.336274046610598,18 C24.336274046610598,14.643367904131118 22.078313466101935,11.812044583156348 19,10.943637731991082 L19,11.29 Z");
  }

  94% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,24.789104204799997 C21.900698354688,23.869199725824 24.0191042048,21.180602833664 24.0191042048,18 C24.0191042048,14.819397166336 21.900698354688,12.130800274176 19,11.270322669056 L19,11.29 Z");
  }

  100% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 Z");
  }
}

@keyframes iconAnimation__volume1toMute {
  0% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 Z");
  }

  6% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,24.852745315433904 C21.936337376642985,23.933159042011074 24.082745315433904,21.215923650065818 24.082745315433904,18 C24.082745315433904,14.784076349934184 21.936337376642985,12.066840957988926 19,11.204772325103079 L19,11.29 Z");
  }

  13% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,24.9821518286441 C22.008805024040697,24.063212587787323 24.2121518286441,21.287744264897476 24.2121518286441,18 C24.2121518286441,14.712255735102524 22.008805024040697,11.936787412212679 19,11.071483616496575 L19,11.29 Z");
  }

  19% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.096039469166104 C22.07258210273302,24.17766966651194 24.326039469166105,21.35095190538719 24.326039469166105,18 C24.326039469166105,14.64904809461281 22.07258210273302,11.822330333488063 19,10.95417934675891 L19,11.29 Z");
  }

  25% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.2390427904 C22.152663962624,24.321388004352002 24.4690427904,21.430318748672 24.4690427904,18 C24.4690427904,14.569681251328 22.152663962624,11.678611995648 19,10.806885925887999 L19,11.29 Z");
  }

  31% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.29093490241747 C22.181723545353783,24.37353957692956 24.52093490241747,21.459118870841696 24.52093490241747,18 C24.52093490241747,14.540881129158304 22.181723545353783,11.626460423070442 19,10.753437050510005 L19,11.29 Z");
  }

  38% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.3331306159276 C22.205353144919457,24.41594626900724 24.5631306159276,21.48253749183982 24.5631306159276,18 C24.5631306159276,14.51746250816018 22.205353144919457,11.58405373099276 19,10.70997546559457 L19,11.29 Z");
  }

  44% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.38948809628522 C22.236913333919723,24.472585536766648 24.61948809628522,21.5138158934383 24.61948809628522,18 C24.61948809628522,14.486184106561703 22.236913333919723,11.527414463233354 19,10.651927260826223 L19,11.29 Z");
  }

  50% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.471923790497016 C22.28307732267833,24.555433409449503 24.701923790497016,21.559567703725847 24.701923790497016,18 C24.701923790497016,14.440432296274155 22.28307732267833,11.444566590550497 19,10.567018495788071 L19,11.29 Z");
  }

  56% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.56041271156424 C22.332631118475977,24.644364775122064 24.79041271156424,21.608679054918156 24.79041271156424,18 C24.79041271156424,14.391320945081846 22.332631118475977,11.355635224877938 19,10.475874907088832 L19,11.29 Z");
  }

  63% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.662764472493457 C22.38994810459634,24.747228294855926 24.89276447249346,21.665484282233873 24.89276447249346,18 C24.89276447249346,14.33451571776613 22.38994810459634,11.252771705144074 19,10.370452593331738 L19,11.29 Z");
  }

  69% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.801160470842888 C22.46744986367202,24.886316273197103 25.031160470842888,21.742294061317804 25.031160470842888,18 C25.031160470842888,14.257705938682196 22.46744986367202,11.113683726802897 19,10.227904715031825 L19,11.29 Z");
  }

  75% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.950603304538983 C22.55113785054183,25.036506321061676 25.180603304538984,21.825234834019138 25.180603304538984,18 C25.180603304538984,14.174765165980865 22.55113785054183,10.963493678938324 19,10.073978596324848 L19,11.29 Z");
  }

  81% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.13750421416308 C22.655802359931325,25.224341735233892 25.367504214163077,21.92896483886051 25.367504214163077,18 C25.367504214163077,14.071035161139491 22.655802359931325,10.775658264766106 19,9.88147065941203 L19,11.29 Z");
  }

  88% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.396473477686996 C22.80082514750472,25.484605845075432 25.626473477686996,22.072692780116284 25.626473477686996,18 C25.626473477686996,13.927307219883717 22.80082514750472,10.515394154924568 19,9.614732317982392 L19,11.29 Z");
  }

  94% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.618902982476015 C22.92538567018657,25.708147497388396 25.848902982476016,22.19614115527419 25.848902982476016,18 C25.848902982476016,13.803858844725811 22.92538567018657,10.291852502611604 19,9.385629928049703 L19,11.29 Z");
  }

  100% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.77 C23.01,25.86 26,22.28 26,18 C26,13.72 23.01,10.14 19,9.23 L19,11.29 Z");
  }
}

@keyframes iconAnimation__volumeMuteTo1 {
  0% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.77 C23.01,25.86 26,22.28 26,18 C26,13.72 23.01,10.14 19,9.23 L19,11.29 Z");
  }

  6% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.618902982476015 C22.92538567018657,25.708147497388396 25.848902982476016,22.19614115527419 25.848902982476016,18 C25.848902982476016,13.803858844725811 22.92538567018657,10.291852502611604 19,9.385629928049703 L19,11.29 Z");
  }

  13% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.396473477686996 C22.80082514750472,25.484605845075432 25.626473477686996,22.072692780116284 25.626473477686996,18 C25.626473477686996,13.927307219883717 22.80082514750472,10.515394154924568 19,9.614732317982392 L19,11.29 Z");
  }

  19% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.13750421416308 C22.655802359931325,25.224341735233892 25.367504214163077,21.92896483886051 25.367504214163077,18 C25.367504214163077,14.071035161139491 22.655802359931325,10.775658264766106 19,9.88147065941203 L19,11.29 Z");
  }

  25% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.950603304538983 C22.55113785054183,25.036506321061676 25.180603304538984,21.825234834019138 25.180603304538984,18 C25.180603304538984,14.174765165980865 22.55113785054183,10.963493678938324 19,10.073978596324848 L19,11.29 Z");
  }

  31% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.801160470842888 C22.46744986367202,24.886316273197103 25.031160470842888,21.742294061317804 25.031160470842888,18 C25.031160470842888,14.257705938682196 22.46744986367202,11.113683726802897 19,10.227904715031825 L19,11.29 Z");
  }

  38% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.662764472493457 C22.38994810459634,24.747228294855926 24.89276447249346,21.665484282233873 24.89276447249346,18 C24.89276447249346,14.33451571776613 22.38994810459634,11.252771705144074 19,10.370452593331738 L19,11.29 Z");
  }

  44% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.56041271156424 C22.332631118475977,24.644364775122064 24.79041271156424,21.608679054918156 24.79041271156424,18 C24.79041271156424,14.391320945081846 22.332631118475977,11.355635224877938 19,10.475874907088832 L19,11.29 Z");
  }

  50% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.471923790497016 C22.28307732267833,24.555433409449503 24.701923790497016,21.559567703725847 24.701923790497016,18 C24.701923790497016,14.440432296274155 22.28307732267833,11.444566590550497 19,10.567018495788071 L19,11.29 Z");
  }

  56% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.38948809628522 C22.236913333919723,24.472585536766648 24.61948809628522,21.5138158934383 24.61948809628522,18 C24.61948809628522,14.486184106561703 22.236913333919723,11.527414463233354 19,10.651927260826223 L19,11.29 Z");
  }

  63% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.3331306159276 C22.205353144919457,24.41594626900724 24.5631306159276,21.48253749183982 24.5631306159276,18 C24.5631306159276,14.51746250816018 22.205353144919457,11.58405373099276 19,10.70997546559457 L19,11.29 Z");
  }

  69% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.29093490241747 C22.181723545353783,24.37353957692956 24.52093490241747,21.459118870841696 24.52093490241747,18 C24.52093490241747,14.540881129158304 22.181723545353783,11.626460423070442 19,10.753437050510005 L19,11.29 Z");
  }

  75% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.2390427904 C22.152663962624,24.321388004352002 24.4690427904,21.430318748672 24.4690427904,18 C24.4690427904,14.569681251328 22.152663962624,11.678611995648 19,10.806885925887999 L19,11.29 Z");
  }

  81% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,25.096039469166104 C22.07258210273302,24.17766966651194 24.326039469166105,21.35095190538719 24.326039469166105,18 C24.326039469166105,14.64904809461281 22.07258210273302,11.822330333488063 19,10.95417934675891 L19,11.29 Z");
  }

  88% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,24.9821518286441 C22.008805024040697,24.063212587787323 24.2121518286441,21.287744264897476 24.2121518286441,18 C24.2121518286441,14.712255735102524 22.008805024040697,11.936787412212679 19,11.071483616496575 L19,11.29 Z");
  }

  94% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,24.852745315433904 C21.936337376642985,23.933159042011074 24.082745315433904,21.215923650065818 24.082745315433904,18 C24.082745315433904,14.784076349934184 21.936337376642985,12.066840957988926 19,11.204772325103079 L19,11.29 Z");
  }

  100% {
    d: path("M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 Z");
  }
}

@mixin animatedIcon {
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}