.indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 52px;
  height: 52px;
  z-index: 19;
  background: rgba(0,0,0,.5);
  border-radius: 26px;
  animation: bezel-fadeout .5s linear 1 normal forwards;
  pointer-events: none;

  display: none;
  &.visible {
    display: block;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin: 6px;

    svg path {
      fill: #fff;
    }
  }
}

@keyframes bezel-fadeout {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2)
  }
}