.background {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADXCAYAAADbcju7AAAAAXNSR0IArs4c6QAAASRJREFUOE9lyOdHBWAYhvHT3nvvOu299zjNc05TJJEkkkgSSSSJJJJEEkkiifRH5ro/PK9Xz4ef634CgX8Xw0fE+sQxRbyRQIlEI4lyJDNFipFKiTSfdKbIMDIpkWVkU44cpsg18iiR71PAFIVGESWKjRLKUcoUZUY5JSp8KpmiyqimRI0RpBy1TFFn1FOiwaeRKZqMZkq0GK2Uo40p2o0OSnQaXZSjmyl6jF5K9Pn0M8WAMUiJIWOYcowwxagxRolxnwmmCBmTlJgypinHDFPMGnOUCPtEmCJqzFNiwVikHEtMsQwrsAprsA4bsAlbsA07sAt7sA8HcAhHcAwncApncA4XcAlXcA03cAt3cA8P8AhP8Awv8Apv8A4f8Alf8A0/8PsHzy0uOq6cW/AAAAAASUVORK5CYII=');
  width: 100%;
  height: 40.25%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  background-position: bottom;
  background-size: contain;
  background-repeat-y: no-repeat;
}

.controlsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  $margin: 12px;
  width: calc(100% - $margin*2);
  height: 51px;
  box-sizing: content-box;
  color: #fff;
  pointer-events: all;
  padding-top: 5px;
  margin: 0 12px;
  
  .controls {
    height: 48px;
    display: flex;

    button.controlsButton {
      width: 48px;
      height: 48px;
      opacity: .9;
      border: none;
      background-color: transparent;
      padding: 0;
      color: inherit;
      text-align: inherit;
      font-size: 100%;
      font-family: inherit;
      cursor: pointer;
      line-height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: 1;
      }

      &[disabled] {
        opacity: .5;
        pointer-events: none;
      }

      &.hide {
        display: none;
      }
    }

    .left {
      flex: 1;
      
      .controlsButton:not(.hide):nth-child(1),
      .controlsButton.hide:nth-child(1) + .playControlButton {
        &::before {
          content: '';
          width: $margin;
          position: absolute;
          height: 100%;
          right: 100%;
        }
      }
    }

    .right {
      .controlsButton:not(.hide):nth-last-child(1) {
        &::after {
          content: '';
          width: $margin;
          position: absolute;
          height: 100%;
          left: 100%;
        }
      }
    }

    .left,
    .right {
      display: flex;
    }

    .playControlButton {
      width: 46px;
    }

    .volumeControls {
      width: 0px;
      transition: width .2s cubic-bezier(0.4, 0, 1, 1);
      cursor: pointer;
      overflow: hidden;
      height: 48px;
      margin-right: 2px;

      &, & * {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: flex;
        align-items: center;
      }

      $barWidth: 52px;
      
      &.active {
        width: $barWidth;
      }

      .volumeBar {
        min-width: $barWidth;
        background: rgba(255, 255, 255, .2);
        position: relative;
        height: 3px;
        
        .volume {
          background-color: #fff;
          height: 100%;
        }

        .tip {
          position: absolute;
          $size: 12px;
          width: $size;
          height: $size;
          border-radius: 50%;
          background: #fff;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .timer {
      display: flex;
      padding: 0 5px;
      align-items: center;

      .timerValue {
        display: flex;
        align-items: center;
        gap: 4.235px;

        span {
          text-shadow: 0 0 2px rgb(0 0 0 / 50%);
          font-size: 13px;
          white-space: nowrap;
        }
      }
    }

    .switchButton {
      height: 14.4px;
      width: 36px;
      border-radius: 14.4px;
      position: relative;
      cursor: pointer;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSI+PGRlZnMgLz48cGF0aCBvcGFjaXR5PSIuNSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMi43IDExYzIuOTUgMCA1LjMtMi4yMSA1LjMtNXMtMi4zNS01LTUuMy01SDcuM0M0LjM1IDEgMiAzLjIxIDIgNnMyLjM1IDUgNS4zIDVoMTUuNHoiIGZpbGw9IiNmZmYiIC8+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNy4zIDFDNC4zNSAxIDIgMy4yMSAyIDZzMi4zNSA1IDUuMyA1aDE1LjRBNS4xNiA1LjE2IDAgMDAyOCA2bC0uMDMtLjU0QTUuMTYgNS4xNiAwIDAwMjIuNyAxSDcuM3ptMTUuNCAxMWMzLjQ1IDAgNi4zLTIuNiA2LjMtNnMtMi44NS02LTYuMy02SDcuM0MzLjg1IDAgMSAyLjYgMSA2czIuODUgNiA2LjMgNmgxNS40eiIgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuMyIgLz48L3N2Zz4=);
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 20.4px;
        width: 20.4px;
        border-radius: 20.4px;
        margin-top: -3px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSI+PGRlZnMgLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguNSAxNmE3LjUgNy41IDAgMTAwLTE1IDcuNSA3LjUgMCAwMDAgMTV6IiBmaWxsPSIjNzE3MTcxIiAvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTcgOC41YTguNSA4LjUgMCAxMS0xNyAwIDguNSA4LjUgMCAwMTE3IDB6bS0xIDBhNy41IDcuNSAwIDExLTE1IDAgNy41IDcuNSAwIDAxMTUgMHoiIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iLjE1IiAvPjxwYXRoIGQ9Ik01LjUgMTJoMlY1aC0ydjd6TTkuNSA1djdoMlY1aC0yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
        background-size: cover;
        transition: all .08s cubic-bezier(0.4, 0, 1, 1);
      }
      
      &.active::after {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNyA4LjVhOC41IDguNSAwIDExLTE3IDAgOC41IDguNSAwIDAxMTcgMHptLTUgMEw2LjUgNXY3TDEyIDguNXptLTEuODYgMEw3LjUgNi44MnYzLjM2bDIuNjQtMS42OHpNOC41IDE2YTcuNSA3LjUgMCAxMDAtMTUgNy41IDcuNSAwIDAwMCAxNXoiIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iLjE1IiAvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYgOC41YTcuNSA3LjUgMCAxMS0xNSAwIDcuNSA3LjUgMCAwMTE1IDB6bS00IDBMNi41IDEyVjVMMTIgOC41eiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
        left: 1px;
        background-size: cover;
        background-color: transparent;
        transform: translateX(15.6px);
      }
    }

    .toggleButton {
      width: 100%;
      height: 100%;
      position: relative;

      &::after {
        content: '';
        height: 3px;
        background-color: #f00;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 9px;
        transition: width .1s cubic-bezier(0.4, 0, 1, 1);
        border-radius: 3px;
        width: 0px;
      }

      &.active::after {
        width: 24px;
      }
    }
  }
}