.background {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADXCAYAAADbcju7AAAAAXNSR0IArs4c6QAAASRJREFUOE9lyOdHBWAYhvHT3nvvOu299zjNc05TJJEkkkgSSSSJJJJEEkkiifRH5ro/PK9Xz4ef634CgX8Xw0fE+sQxRbyRQIlEI4lyJDNFipFKiTSfdKbIMDIpkWVkU44cpsg18iiR71PAFIVGESWKjRLKUcoUZUY5JSp8KpmiyqimRI0RpBy1TFFn1FOiwaeRKZqMZkq0GK2Uo40p2o0OSnQaXZSjmyl6jF5K9Pn0M8WAMUiJIWOYcowwxagxRolxnwmmCBmTlJgypinHDFPMGnOUCPtEmCJqzFNiwVikHEtMsQwrsAprsA4bsAlbsA07sAt7sA8HcAhHcAwncApncA4XcAlXcA03cAt3cA8P8AhP8Awv8Apv8A4f8Alf8A0/8PsHzy0uOq6cW/AAAAAASUVORK5CYII=');
  width: 100%;
  height: 40.25%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
}

.controlsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 51px;
  color: #fff;
  pointer-events: all;
  
  .controls {
    height: 100%;
    margin: 0 12px;
    display: flex;

    button.controlsButton {
      width: 46px;
      height: 48px;
      opacity: .9;
      border: none;
      background-color: transparent;
      padding: 0;
      color: inherit;
      text-align: inherit;
      font-size: 100%;
      font-family: inherit;
      cursor: pointer;
      line-height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;

      &[disabled] {
        opacity: .5;
        pointer-events: none;
      }

      &.hide {
        display: none;
      }
    }

    .left {
      flex: 1;
    }

    .left,
    .right {
      display: flex;
    }
  }
}