.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  @media screen and (min-width: 1170px) {
    flex-direction: row;
    gap: 120px;
  }
  @media screen and (min-width: 1280px) {
    gap: 250px;
  }
}